
@{
    ViewBag.Title = "Usuário";
}

<h2>Menu - Usuário</h2>
<h2>Consultar</h2>
<ul>
    <li> @Html.ActionLink("Animal", "ConsAnimal", "Animal")</li>
    <li> @Html.ActionLink("Cliente", "ConsCliente", "Cliente")</li>
    <li> @Html.ActionLink("Tipo de Animal", "ConsTipoAnimal", "TipoAnimal")</li>
    <li> @Html.ActionLink("Veterinário", "ConsVet", "Veterinario")</li>
</ul>
